/* ******************************************************************************************* */
/* TEMA ************************************************************************************** */
/* ******************************************************************************************* */

:root {
    --theme-color-scheme: dark; /* dark ou light. para colorir componentes nativos do navegador*/

    --accent-A:#5badff;
    --accent-B:#5396f4;

    --bg-A:#ecf1f4;
    --bg-B:#dae0e4;
    --bg-C:#c7ced3;
    --bg-D:#b2bcc4;
    
    --bg-comp-A:#fff;
    --bg-comp-dis-A:#98938d;

    --border-A:#9ea8ae;
    --border-B:var(--border-A);
    --border-C:var(--border-A);

    --text-A:#000;
    --text-B:#222;
    --text-C:var(--text-A);
    --text-dis-A:#3f3b39;

    --comp-bright: 1.1;
    --comp-dark: 0.9;

    --overlay:#1109;

    
    /* Adicione aqui as suas variáveis de tema personalizadas */
    --bg-card-A: #e5eaed;
}