@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url('/css/fonts/roboto_condensed_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}