/* ******************************************************************************************* */
/* TEMA ************************************************************************************** */
/* ******************************************************************************************* */

:root {
    /* Identidade do Esquema */
    --theme-color-scheme: dark; /* dark ou light. para colorir componentes nativos do navegador*/
    --bg-color: #0b0f13; /* fundo do site. deve respeitar o color-scheme */

    /* Textos */
    --text-color: #fff;
    --text-color-disabled: #888888;
    --text-color-label: #a2a2a2;
    --text-color-label-disabled: #3a3a3a;
    --text-color-placeholder: #6b6c7a;
    --text-color-placeholder-disabled: #0000;

    /* Menus */
    --bg-color-menu: #29303b; /* fundo do site. deve respeitar o color-scheme */
    --text-color-menu: var(--text-color);
    --text-color-menu-focus: #414855;
    --text-color-menu-active: #323742;

    /* Bordas e Focos */
    --border-color: #28313f;
    --border-color-forms: var(--border-color);
    --border-color-focus:  #2174b8;
    --border-color-focus-glow: #2196f34d;

    /* Inputs e Fundos */
    --bg-color-inputs: #0c1219;
    --bg-color-inputs-disabled: #373e46;
    --bg-color-button: #378acd; 

    /* components input-number */
    --bg-color-btn-spinner: #f0f0f0;
    --bg-color-btn-spinner-disabled: #b8b8b8;
    --bg-color-btn-spinner-hover: #b0b0b0;
    --text-color-btn-spinner: #0b0f13;
    --text-color-btn-spinner-disabled: #525252;
    --border-color-btn-spinner: #ccc;
    --border-color-btn-spinner-disabled: #999;

    /* layout */
    --bg-color-section-bubble-01: #121821;
    --border-color-section-bubble-01: var(--border-color);
    --bg-color-section-bubble-02: #1a212c;
    --border-color-section-bubble-02: var(--border-color);

    /* Adicione aqui as suas variáveis de tema personalizadas */
    
}