/* ******************************************************************************************* */
/* TEMA LIGHT (Claro) ************************************************************************ */
/* ******************************************************************************************* */

:root {
    /* Identidade do Esquema */
    --theme-color-scheme: light; 
    --bg-color: #fff; /* Um cinza bem clarinho, quase branco, levemente azulado */

    /* Textos */
    --text-color: #151d29;
    --text-color-disabled: #A0AEC0;
    --text-color-label: #4A5568;
    --text-color-label-disabled: #abb3bc;
    --text-color-placeholder: #96a2b9;
    --text-color-placeholder-disabled: #0000;

    /* Menus */
    --bg-color-menu: var(--bg-color-section-bubble-02); /* fundo do site. deve respeitar o color-scheme */
    --text-color-menu: var(--text-color);
    --text-color-menu-focus: #b2b6c4;
    --text-color-menu-active: #c0c4d1;

    /* Bordas e Focos */
    --border-color: #c2c7ce; /* Cinza claro para bordas sutis */
    --border-color-forms: var(--border-color);
    --border-color-focus: #005ba5; /* Mantemos o Azul Material (Identidade da marca) */
    --border-color-focus-glow: #005ba599; /* Glow azul mais suave */

    /* Inputs e Fundos */
    --bg-color-inputs: #FFFFFF; /* Fundo branco clássico para inputs */
    --bg-color-inputs-disabled: #c3c7cb; /* Fundo cinza claro para indicar desabilitado */
    --bg-color-button: #9dc8eb; /* Mantemos o azul do botão (ou pode escurecer levemente para contraste) */

    /* components input-number */
    --bg-color-btn-spinner: #777; 
    --bg-color-btn-spinner-disabled: #EDF2F7;
    --bg-color-btn-spinner-hover: #999;
    --text-color-btn-spinner: #ffffff;
    --text-color-btn-spinner-disabled: #A0AEC0;
    --border-color-btn-spinner: #CBD5E0;
    --border-color-btn-spinner-disabled: #E2E8F0;

    /* Layout (Bubbles/Cards) */
    --bg-color-section-bubble-01: #eceef4; /* "Cards" brancos sobre o fundo cinza claro */
    --border-color-section-bubble-01: var(--border-color);
    --bg-color-section-bubble-02: #dee0e8; /* Um tom muito sutil (opcional) ou #FFFFFF também */
    --border-color-section-bubble-02: var(--border-color);

    /* Adicione aqui as suas variáveis de tema personalizadas */
    
}